
    <style>
    div {
        white-space: pre-wrap;
    }
    </style>
    
################################################################################
<br />
Happiness 5669.048000000001

    <table>
    <tr>
    <th> Hour </th>
    
        <th> Monday </th>
        
        <th> Tuesday </th>
        
        <th> Wednesday </th>
        
        <th> Thursday </th>
        
        <th> Friday </th>
        
        <th> Saturday </th>
        
        <th> Sunday </th>
        
    </tr>
    
    <tr>
    
            <td> 12:00 AM </td>
        
            <td style="background-color:DodgerBlue;"> sleep </td>
            
            <td style="background-color:DodgerBlue;"> sleep </td>
            
            <td style="background-color:DodgerBlue;"> sleep </td>
            
            <td style="background-color:DodgerBlue;"> sleep </td>
            
            <td style="background-color:DodgerBlue;"> sleep </td>
            
            <td style="background-color:DodgerBlue;"> sleep </td>
            
            <td style="background-color:DodgerBlue;"> sleep </td>
            
    </tr>
    
    <tr>
    
            <td> 01:00 AM </td>
        
            <td style="background-color:DodgerBlue;"> sleep </td>
            
            <td style="background-color:DodgerBlue;"> sleep </td>
            
            <td style="background-color:DodgerBlue;"> sleep </td>
            
            <td style="background-color:DodgerBlue;"> sleep </td>
            
            <td style="background-color:DodgerBlue;"> sleep </td>
            
            <td style="background-color:DodgerBlue;"> sleep </td>
            
            <td style="background-color:DodgerBlue;"> sleep </td>
            
    </tr>
    
    <tr>
    
            <td> 02:00 AM </td>
        
            <td style="background-color:DodgerBlue;"> sleep </td>
            
            <td style="background-color:DodgerBlue;"> sleep </td>
            
            <td style="background-color:DodgerBlue;"> sleep </td>
            
            <td style="background-color:DodgerBlue;"> sleep </td>
            
            <td style="background-color:DodgerBlue;"> sleep </td>
            
            <td style="background-color:DodgerBlue;"> sleep </td>
            
            <td style="background-color:DodgerBlue;"> sleep </td>
            
    </tr>
    
    <tr>
    
            <td> 03:00 AM </td>
        
            <td style="background-color:DodgerBlue;"> sleep </td>
            
            <td style="background-color:DodgerBlue;"> sleep </td>
            
            <td style="background-color:DodgerBlue;"> sleep </td>
            
            <td style="background-color:DodgerBlue;"> sleep </td>
            
            <td style="background-color:DodgerBlue;"> sleep </td>
            
            <td style="background-color:DodgerBlue;"> sleep </td>
            
            <td style="background-color:DodgerBlue;"> sleep </td>
            
    </tr>
    
    <tr>
    
            <td> 04:00 AM </td>
        
            <td style="background-color:DodgerBlue;"> sleep </td>
            
            <td style="background-color:DodgerBlue;"> sleep </td>
            
            <td style="background-color:DodgerBlue;"> sleep </td>
            
            <td style="background-color:DodgerBlue;"> sleep </td>
            
            <td style="background-color:DodgerBlue;"> sleep </td>
            
            <td style="background-color:DodgerBlue;"> sleep </td>
            
            <td style="background-color:DodgerBlue;"> sleep </td>
            
    </tr>
    
    <tr>
    
            <td> 05:00 AM </td>
        
            <td style="background-color:DodgerBlue;"> sleep </td>
            
            <td style="background-color:DodgerBlue;"> sleep </td>
            
            <td style="background-color:DodgerBlue;"> sleep </td>
            
            <td style="background-color:DodgerBlue;"> sleep </td>
            
            <td style="background-color:DodgerBlue;"> sleep </td>
            
            <td style="background-color:DodgerBlue;"> sleep </td>
            
            <td style="background-color:DodgerBlue;"> sleep </td>
            
    </tr>
    
    <tr>
    
            <td> 06:00 AM </td>
        
            <td style="background-color:DarkOrange;"> eat </td>
            
            <td style="background-color:DarkOrange;"> eat </td>
            
            <td style="background-color:DarkOrange;"> eat </td>
            
            <td style="background-color:DarkOrange;"> eat </td>
            
            <td style="background-color:DarkOrange;"> eat </td>
            
            <td style="background-color:DarkOrange;"> eat </td>
            
            <td style="background-color:DarkOrange;"> eat </td>
            
    </tr>
    
    <tr>
    
            <td> 07:00 AM </td>
        
            <td style="background-color:Purple;"> code </td>
            
            <td style="background-color:Olive;"> transit </td>
            
            <td style="background-color:YellowGreen;"> read </td>
            
            <td style="background-color:Purple;"> code </td>
            
            <td style="background-color:Olive;"> transit </td>
            
            <td style="background-color:YellowGreen;"> read </td>
            
            <td style="background-color:DarkTurquoise;"> people </td>
            
    </tr>
    
    <tr>
    
            <td> 08:00 AM </td>
        
            <td style="background-color:Purple;"> code </td>
            
            <td style="background-color:BurlyWood;"> work </td>
            
            <td style="background-color:DarkTurquoise;"> people </td>
            
            <td style="background-color:Purple;"> code </td>
            
            <td style="background-color:BurlyWood;"> work </td>
            
            <td style="background-color:DarkTurquoise;"> people </td>
            
            <td style="background-color:DarkTurquoise;"> people </td>
            
    </tr>
    
    <tr>
    
            <td> 09:00 AM </td>
        
            <td style="background-color:Olive;"> transit </td>
            
            <td style="background-color:BurlyWood;"> work </td>
            
            <td style="background-color:Purple;"> code </td>
            
            <td style="background-color:YellowGreen;"> read </td>
            
            <td style="background-color:BurlyWood;"> work </td>
            
            <td style="background-color:DarkTurquoise;"> people </td>
            
            <td style="background-color:Purple;"> code </td>
            
    </tr>
    
    <tr>
    
            <td> 10:00 AM </td>
        
            <td style="background-color:DarkGray;"> ethz </td>
            
            <td style="background-color:BurlyWood;"> work </td>
            
            <td style="background-color:Purple;"> code </td>
            
            <td style="background-color:DarkGray;"> ethz </td>
            
            <td style="background-color:BurlyWood;"> work </td>
            
            <td style="background-color:DarkTurquoise;"> people </td>
            
            <td style="background-color:Purple;"> code </td>
            
    </tr>
    
    <tr>
    
            <td> 11:00 AM </td>
        
            <td style="background-color:DarkGray;"> ethz </td>
            
            <td style="background-color:BurlyWood;"> work </td>
            
            <td style="background-color:YellowGreen;"> read </td>
            
            <td style="background-color:DarkGray;"> ethz </td>
            
            <td style="background-color:BurlyWood;"> work </td>
            
            <td style="background-color:Lavender;"> Unknown </td>
            
            <td style="background-color:YellowGreen;"> read </td>
            
    </tr>
    
    <tr>
    
            <td> 12:00 PM </td>
        
            <td style="background-color:DarkOrange;"> eat </td>
            
            <td style="background-color:DarkOrange;"> eat </td>
            
            <td style="background-color:DarkOrange;"> eat </td>
            
            <td style="background-color:DarkOrange;"> eat </td>
            
            <td style="background-color:DarkOrange;"> eat </td>
            
            <td style="background-color:DarkOrange;"> eat </td>
            
            <td style="background-color:DarkOrange;"> eat </td>
            
    </tr>
    
    <tr>
    
            <td> 01:00 PM </td>
        
            <td style="background-color:BurlyWood;"> work </td>
            
            <td style="background-color:BurlyWood;"> work </td>
            
            <td style="background-color:Purple;"> code </td>
            
            <td style="background-color:MediumSeaGreen;"> jog </td>
            
            <td style="background-color:BurlyWood;"> work </td>
            
            <td style="background-color:YellowGreen;"> read </td>
            
            <td style="background-color:DarkTurquoise;"> people </td>
            
    </tr>
    
    <tr>
    
            <td> 02:00 PM </td>
        
            <td style="background-color:BurlyWood;"> work </td>
            
            <td style="background-color:BurlyWood;"> work </td>
            
            <td style="background-color:Purple;"> code </td>
            
            <td style="background-color:DarkTurquoise;"> people </td>
            
            <td style="background-color:BurlyWood;"> work </td>
            
            <td style="background-color:DarkTurquoise;"> people </td>
            
            <td style="background-color:DarkTurquoise;"> people </td>
            
    </tr>
    
    <tr>
    
            <td> 03:00 PM </td>
        
            <td style="background-color:BurlyWood;"> work </td>
            
            <td style="background-color:BurlyWood;"> work </td>
            
            <td style="background-color:DarkTurquoise;"> people </td>
            
            <td style="background-color:DarkTurquoise;"> people </td>
            
            <td style="background-color:BurlyWood;"> work </td>
            
            <td style="background-color:DarkTurquoise;"> people </td>
            
            <td style="background-color:YellowGreen;"> read </td>
            
    </tr>
    
    <tr>
    
            <td> 04:00 PM </td>
        
            <td style="background-color:BurlyWood;"> work </td>
            
            <td style="background-color:DarkGray;"> ethz </td>
            
            <td style="background-color:DarkTurquoise;"> people </td>
            
            <td style="background-color:DarkTurquoise;"> people </td>
            
            <td style="background-color:BurlyWood;"> work </td>
            
            <td style="background-color:DarkTurquoise;"> people </td>
            
            <td style="background-color:Purple;"> code </td>
            
    </tr>
    
    <tr>
    
            <td> 05:00 PM </td>
        
            <td style="background-color:BurlyWood;"> work </td>
            
            <td style="background-color:DarkGray;"> ethz </td>
            
            <td style="background-color:YellowGreen;"> read </td>
            
            <td style="background-color:DarkTurquoise;"> people </td>
            
            <td style="background-color:BurlyWood;"> work </td>
            
            <td style="background-color:Purple;"> code </td>
            
            <td style="background-color:DarkTurquoise;"> people </td>
            
    </tr>
    
    <tr>
    
            <td> 06:00 PM </td>
        
            <td style="background-color:Olive;"> transit </td>
            
            <td style="background-color:Olive;"> transit </td>
            
            <td style="background-color:DarkOrange;"> eat </td>
            
            <td style="background-color:DarkOrange;"> eat </td>
            
            <td style="background-color:DarkOrange;"> eat </td>
            
            <td style="background-color:DarkOrange;"> eat </td>
            
            <td style="background-color:DarkOrange;"> eat </td>
            
    </tr>
    
    <tr>
    
            <td> 07:00 PM </td>
        
            <td style="background-color:DarkOrange;"> eat </td>
            
            <td style="background-color:DarkOrange;"> eat </td>
            
            <td style="background-color:YellowGreen;"> read </td>
            
            <td style="background-color:YellowGreen;"> read </td>
            
            <td style="background-color:YellowGreen;"> read </td>
            
            <td style="background-color:DarkTurquoise;"> people </td>
            
            <td style="background-color:Purple;"> code </td>
            
    </tr>
    
    <tr>
    
            <td> 08:00 PM </td>
        
            <td style="background-color:DarkTurquoise;"> people </td>
            
            <td style="background-color:DarkTurquoise;"> people </td>
            
            <td style="background-color:Purple;"> code </td>
            
            <td style="background-color:Purple;"> code </td>
            
            <td style="background-color:DarkTurquoise;"> people </td>
            
            <td style="background-color:DarkTurquoise;"> people </td>
            
            <td style="background-color:Purple;"> code </td>
            
    </tr>
    
    <tr>
    
            <td> 09:00 PM </td>
        
            <td style="background-color:DarkTurquoise;"> people </td>
            
            <td style="background-color:DarkTurquoise;"> people </td>
            
            <td style="background-color:DarkTurquoise;"> people </td>
            
            <td style="background-color:Purple;"> code </td>
            
            <td style="background-color:DarkTurquoise;"> people </td>
            
            <td style="background-color:YellowGreen;"> read </td>
            
            <td style="background-color:Purple;"> code </td>
            
    </tr>
    
    <tr>
    
            <td> 10:00 PM </td>
        
            <td style="background-color:DodgerBlue;"> sleep </td>
            
            <td style="background-color:DodgerBlue;"> sleep </td>
            
            <td style="background-color:DodgerBlue;"> sleep </td>
            
            <td style="background-color:DodgerBlue;"> sleep </td>
            
            <td style="background-color:DodgerBlue;"> sleep </td>
            
            <td style="background-color:DodgerBlue;"> sleep </td>
            
            <td style="background-color:DodgerBlue;"> sleep </td>
            
    </tr>
    
    <tr>
    
            <td> 11:00 PM </td>
        
            <td style="background-color:DodgerBlue;"> sleep </td>
            
            <td style="background-color:DodgerBlue;"> sleep </td>
            
            <td style="background-color:DodgerBlue;"> sleep </td>
            
            <td style="background-color:DodgerBlue;"> sleep </td>
            
            <td style="background-color:DodgerBlue;"> sleep </td>
            
            <td style="background-color:DodgerBlue;"> sleep </td>
            
            <td style="background-color:DodgerBlue;"> sleep </td>
            
    </tr>
    
    </table>
    
<div>
{
    "jog": {
        "max_time": 1.0,
        "break_time": 1.0,
        "daytime_fit": 0.5,
        "happiness_factor": 0.8325,
        "activitiy_happiness": 66.6
    },
    "read": {
        "max_time": 1.0,
        "break_time": 1.0,
        "daytime_fit": 0.9666666666666667,
        "happiness_factor": 1.0140333333333333,
        "activitiy_happiness": 1155.998
    },
    "code": {
        "max_time": 1.0,
        "break_time": 1.0,
        "daytime_fit": 0.9166666666666666,
        "happiness_factor": 0.9945833333333334,
        "activitiy_happiness": 1790.25
    },
    "people": {
        "max_time": 1.0,
        "break_time": 1.0,
        "daytime_fit": 0.8888888888888888,
        "happiness_factor": 0.9837777777777779,
        "activitiy_happiness": 2656.2000000000003
    }
}
</div>
################################################################################
<br />
